@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* globals.css */
    * {
      @apply scroll-smooth;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
      background-color: black;
    }
}

@layer utilities {
  .navbar {
    @apply  lg:w-[1200px] mx-auto absolute left-0 right-0 z-50 mt-5;
  }
  

  .mobileNav {
    @apply text-white text-[22px] hover:bg-white hover:text-black hover:px-5 hover:w-full
  }

  .carouselText {
     @apply text-[0.8rem] sm:text-xl md:text-3xl z-20 top-16 sm:top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center
  }

  .card1 {
    @apply bg-gradient-to-b from-[#FF87B5] to-[#F45887]
  }

  .card2 {
    @apply bg-gradient-to-b from-[#c941d9] to-[#ed4cb2]

  }
  .card3 {
    @apply bg-gradient-to-b from-[#686fe3] to-[#373afb];
  }
  .card4 {
    @apply bg-gradient-to-b from-[#5177db] to-[#2c51b4];
  }

  .card5 {
    @apply bg-gradient-to-b from-[#66e1c5] to-[#20b3a5];
  }
  
  .card6 {
    @apply bg-gradient-to-b from-[#88e3fe] to-[#36b8e8];
  }
  .card7 {
    @apply bg-gradient-to-b from-[#fcbf6f] to-[#ff9e15];
  }
  .card8 {
    @apply bg-gradient-to-b from-[#ae9cff] to-[#8f78fc];
  }
     
  .inputFiled {
    @apply text-white border-b border-white border-t-0 bg-transparent outline-none placeholder-white
  }
}
